.card {
  display: flex;
  flex-direction: column;
}

.card__image {
  height: 282px;
  width: 282px;
  border-radius: 10px 10px 0 0;
  background-size: cover;
}

.card__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  color: black;
  padding: 25px 20px;
  border-radius: 0 0 10px 10px;
}

.card__title {
  max-width: 210px;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background: transparent url(../images/like-inactive.svg) center no-repeat;
  height: 18px;
  width: 21px;
  color: black;
  border: none;
  padding: 0;
  transition: opacity 0.2s linear;
}

.card__like-button_active {
  background-image: url(../images/like-active.svg);
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}
