.page {
  background-color: black;
  color: white;
  max-width: 1280px;
  margin: 0 auto;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-right: 10px;
  padding-left: 10px;
}

.logo {
  padding-bottom: 41px;
}

.header {
  margin-top: 45px;
  border-bottom: 1px solid #545454;
}

.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin-right: 30px;
}

.profile__info {
  display: grid;
  grid-template-areas: "title button" "description decription";
}

.profile__title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  margin: 0;
  padding-right: 18px;
  padding-bottom: 7px;
}

.profile__edit-button {
  background: transparent url(../images/edit.svg) center no-repeat;
  height: 24px;
  width: 24px;
  border: 1px solid #ffffff;
  align-self: center;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__description {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  margin: 0;
}

.profile__add-button {
  background: transparent url(../images/add.svg) center no-repeat;
  border: 2px solid #ffffff;
  height: 50px;
  width: 150px;
  margin-left: auto;
  align-self: center;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.cards {
  margin-top: 72px;
}

.card__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
}

.card__image {
  height: 282px;
  width: 282px;
  border-radius: 10px;
}

.card__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  color: black;
  padding: 20px 25px;
  border-radius: 10px;
}

.card__title {
  margin: 0;
}

.card__like-button {
  background: transparent url(../images/heart.svg) center no-repeat;
  height: 18px;
  width: 21px;
  color: black;
  border: none;
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.footer__copyright {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  color: #545454;
  margin-top: 67px;
  margin-bottom: 60px;
}
